<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - G8InstaDev</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/CSS-Cadastro/style.css">
    <link rel="stylesheet" href=".../wwwroot/CSS-Cadastro/style.css">
    <link rel="stylesheet" href="../EdicaoDePerfil/css/estilos.css" />
    <link rel="stylesheet" href="../HTML & CSS - Login/css/style.css">
    <link rel="stylesheet" href="~/css/stylePerfil.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    <main role="main" class="pb-3">
            @RenderBody()
        </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @* @RenderSection("Scripts", required: false) *@
</body>
</html>










</html>